@{
    ViewData["Title"] = "Home Page";
}

<div class="main-page" style="margin: 0; padding: 0; background-color: #600; height: 240px; color: white; vertical-align:middle; text-align: center; display: flex; justify-content: center;">
    <h1 style="text-align: center; vertical-align: middle; line-height: 240px;">Contoso University</h1>
</div>

<img style="border: none; outline: none; margin-top: 20px;width: 100%; height: 800px;" src="~/lib/img/university.jpg" />
